{% for key, item in items %}
<div class="tab-pane" id="{{ item.content['#field_collection_item'].field_content_id.value }}">
	{{ item.content['#field_collection_item'].field_content.value | raw }}
</div>
{% endfor %}